# Internal Work
_
/Users/mosesgameli/MTN/
# Binaries
/zt
/zt-linux
/zt-*
/plugin-os
plugins/plugin-os/plugin-os
plugins/plugin-axios-mitigation/plugin-axios-mitigation
# OS
.DS_Store

# IDE
.idea/
.vscode/

# Build artifacts
*.exe
*.test
bin/
*.out
